a {
    color: #05386B;
    font-weight: bold;
  }
  
  #announce {
    display: none;
    background-color: #5cdb95;
    color: #05386B;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
  }
  
  .articlediv p {
    color: #05386B;
  }
  
  .articlediv {
      display: block;
      margin-top: 15px;
      padding: 10px;
    border: 1px solid #000;
    color: #05386B;
  }
  
  #article_img {
    width: 100%;
  }
  
  body {
    margin: 0 auto;
    font-family: Century-Schoolbook;
    background-color: #EDF5E1;
  }
  
  .contact_info {
    grid-column: 1;
    margin: auto;
  }
  
  .contact_info h3, .contact_info h4 {
    text-align: center;
    color: #05386B;
  }
  
  .contactdiv h4 {
    text-decoration: underline;
  }
  
  .contactdiv {
      display: grid;
      grid-template-columns: 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
      border: 1px solid #000;
  }
  
  #copyright {
    font-family: 'Titillium Web', sans-serif;
  }
  
  #dates {
    font-size: 1.0em;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 5px;
  }
  
  #day1, #day2, #day3, #day4, #day5 {
    background-color: #8ee4af;
    color: #05386b;
    font-family: Century-Schoolbook;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
  }
  
  #fiveDay {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    color: #05386b;
    font-family: Century-Schoolbook;
  }
  
  #forecastTitle {
    text-align: center;
  }
  
  .forecastdiv {
    display: none;
  }
  
  .forecastdiv h3, .articlediv h3 {
    text-align: center;
  }
  
  footer {
    background-color:#379683;
    color: #05386B;
    font-family: Century-Gothic;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 15px;
  }
  
  header {
    color: #5CDB95;
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 5px 0;
    font-family: Century-Gothic;
  }
  
  header img {
    height: 80px;
    width: auto;
    padding-right: 10px;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading h1 {
    font-size: 1.8em;
    font-family: Century-Schoolbook;
    margin-bottom: 0px;
  }
  
  h1 {
    font-family: Century-Schoolbook;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px #05386b;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: Century-Schoolbook;
    color: #5cdb95;
    text-shadow: 1px 1px 1px #05386b;
  }
  
  h3 {
    font-family: Century-Schoolbook;
    font-size: 1.2em;
    color: #5cdb95;
    text-shadow: .5px .5px .5px #05386b;
  }
  
  h4 {
    color: #05386b;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .section_head {
    text-align: center;
    color: #5CDB95;
  }
  
  .herodiv {
      margin: 10px auto;
    position: relative;}
    
  .herodiv img {
    width: 100%;
  }
  
  .summary {
      position: absolute;
    top: 0px;
    font-size: .75em;
      background: radial-gradient(#eee, #EDF5E1);
      border: 1px solid #000;
      padding: 5px;
      box-shadow: 0 0 30px #111;
      opacity: .8;
  }
  
  .summary p {
    color: #05386B;
    font-weight: bolder;
  }
  
  main {
    margin: auto;
  }
  
  .motto {
    font-style: italic;
    font-size: .9em;
    letter-spacing: 1pt;
    color: #379683;
  }
  
  #map {
    margin: auto;
    border: 2px solid #05386b;
  }
  
  nav {
      margin: 0 auto;
    background-color: #5CDB95;
    border-radius: 15px;
  }
  
  nav ul li a.active{
    background-color: #379683;
  }
  
  .nav_bar {
    list-style: none;
    text-align: center;
      padding: 0;
  }
  
  .nav_bar li:first-child {
      display: block;
  }
  
  .nav_bar li {
      display: none;
  }
  
  .nav_bar a {
      display: block;
      padding: 0.75rem;
      text-align: center;
      text-decoration: none;
      color: #05386B;
      font-weight: 700;
  }
  
  .nav_bar a:hover {
      color: #05386B;
      background-color: #8EE4AF;
  }
  
  p {
    font-family: Century-Schoolbook;
    font-size: 1em;
    color:	#5CDB95;
  }
  
  .responsive li {
      display: block;
  }
  
  #temp1, #temp2, #temp3, #temp4, #temp5 {
    color: #05386b;
    font-family: Century-Schoolbook;
    font-size: 1.2em;
  }
  
  
  




@media only screen and (min-width: 32.5em) {

    #announce {
      height: 25px;
    }
  
    #article_img {
      padding-left: 5px;
      float: right;
      width: 35%;
    }
  
    .contact_info {
      grid-column: 2;
      grid-row: 1;
    }
  
    .contactdiv {
      grid-template-columns: 1fr 1fr;
    }
  
    h1 {
      font-size: 2.5em;
      margin-top: 0px;
    }
  
    h2 {
      font-size: 1.8em;
    }
  
    header img {
      height: 120px;
      width: auto;
      padding-right: 10px;
    }
  
      .heading h1 {
          font-size: 2.5em;
      }
  
      .motto {
          letter-spacing: 1.5pt;
          font-size: larger;
    }
  
    .forecasts {
      padding: 3px;
      margin: 2px;
      border: 2px solid #05386b;
    }
  
    .forecastdiv {
      display: grid;
      gap: 5px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      text-align: center;
    }
  
    footer {
      border-radius: 15px;
      height: 55px;
      max-width: 1000px;
    }
  
    main {
      max-width: 1000px;
    }
  
    #map_link {
      margin: auto;
    }
  
    #map {
      grid-column: 1;
      grid-row: 1;
      height: 280px;
    }
  
    .nav_bar {
          display: flex;
    }
    
      .nav_bar li {
          display: block; 
          flex: 1 1 auto;
    }
    
      .nav_bar a {
          text-align: center;
    }
    
      .nav_bar li:first-child {
          display: none;
    }
  
    .summary {
      position: absolute;
      top: 25px;
      left: 50px;
      background: radial-gradient(#eee, #EDF5E1);
      border: 1px solid #000;
      padding: 1rem;
      box-shadow: 0 0 30px #111;
      opacity: .8;
    }
    
  }


@media only screen and (min-width: 60em) {
  
    .heading h1 {
          font-size: 3em;
    }
    
    h2 {
      font-size: 2.3em;
    }
  
    h1 {
      font-size: 3em;
      margin-top: 0px;
    }
    
  }  