@media only screen and (min-width:601px) {
    /* Lines 3-29 is for the navigation bar */
    nav{
       background-color: black;
       padding: 10px 0;
    }
    nav li{
        margin-left: 5%;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    li{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
    li:last-child{
        margin-right: 0;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 20px;
        margin-left: 40%;
    }
    a:hover{
        background-color: white;
        color: black;
    }
    .item2 h3{
        text-align: center;
    }
    .item2 p{
        text-align: center;
    }
    /*This gets rid of the extra checkbox */
    .checkbox{
        display: none;
    }
    /* The following code is trying to make the grid layout */
    main .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .civic-center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px ;
    }
    .kranky{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .forecastdiv{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}