/*Lines 1-16 are for the table in services.html */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  html{
    background-color: lightblue;
  }
  body{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: white;
    min-width: 450px;
  }
  /*This is for the navigation from lines 27-51*/
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 1.5rem;
}
button{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 30%;
}

picture img{
  max-width: 450px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
  .spencerandtony{
    margin-left: 15px;
    
    padding: 10px;
  }
.scooter, .bottomphotos{
  max-width: 350px;
  margin: 20px 7%;
  padding: 0 20px 20px;
  position:relative;
}
body h1{
  text-align: center;
}
.summary{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.summary p{
  padding: 10px;
}
.forecastdiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.forecastdiv p{
  padding: 10px;
}
h2{
  text-align: center;
}

@media screen and (min-width: 1400px){

.picturegroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.maps{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  padding: 20px;
}
.containers img{
  margin-left: 180px;
}
nav ul li{
  margin-left: 50px;
}
button{
  margin-left: 280px;
}
.spencerandtony{
  margin-left: 200px;
}
}