@media screen and (min-width: 1px){

/*This is to make a one column grid, align things to the center, 
and to make the furthest wide the content will go 960px. Line 3-8 */
main, header, nav{
    max-width: 960px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
/*This gets rid of all the bullet points for each respective week
in the learening activities section. Line 10-12 */
main li{
    list-style-type: none;
}
/*This is to edit the main profile picture on front page. Line 14-24 */
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 400px;
    border-style: solid;   
    border-color: black;
    border-width: 5px;
     
}
/*This is to change the background color of the website, and to center content in larger viewport. Line 26-30 */
body{
    background-color: lightblue;
    margin-left: 15%;
    margin-right: 15%;
}
/*This is to make the learning activites and information heading have a 
different background. Line 27-29 */
.card h3{
    background-color: whitesmoke;
}
/*This is to add a white border around the learning activities and
the information section. Line 30-34 */
.card{
    border-style: double;
    border-color: whitesmoke;
    border-width: 5px;
}
/*This is to make the navigation not so tight together, and to 
make the text black on the navigation bar. Line 36-39 */
nav a{
    display: flex;
    justify-content: center;
    padding: 4px;
    color: black;
}
/* From line 39-50 is to make it so the nav does not show a 
line underneath it after you have visited the site */
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    color: white; 
  } 
  a:active { 
    text-decoration: none; 
  }

  /***********************************************/
/** Hamburger Menu *****************************/
/***********************************************/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
}
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}


.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
  padding: 20px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}
/*This is for the embeded map */

.map {
  max-width: 400px;
  

} /* This is closing the media query */
@media screen and (min-width: 414px){
}
