body {
	font-size: 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Ubuntu, sans-serif;
}

header,
footer {
	background-color: #708080;
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}
h2 {
	padding: .5rem;
	color: #536878;
}
nav p{
	padding: 0px;
}
p {
	padding: .5rem;
}

nav {
	background-color: #36454f;
	text-align: right;
	box-shadow: 0 0 30px #333;
    
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
    text-align: center;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #708080;
	color: yellow;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}
.item{
	padding: 50px;
	min-width: 200px;
	border-style: double;
	border-color: blue;
}




main article {
	margin: 1rem;
}


header{
    display: flex;
	flex-flow: column;
}
/***********************************************/
/** Hamburger Menu *****************************/
/***********************************************/


nav {
	margin: 0 auto;
	max-width: 760px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "⍋ ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "⍒ ";
}

#art{
	max-width: 350px;
}
#weather{
	max-width: 350px;
}
#tank{
	max-width: 350px;
}
#reams{
	max-width: 350px;
}
#baer{
	max-width: 350px;
}




/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

@media (min-width: 641px) {
	nav {
		flex-direction: row;
        text-align: center;
		max-width: 980px;
		margin-top: 10px;
		display: flex;
	}
	/*Need to figure out why this is referencing all of the nav and not just the .ham class*/
	.navigation li{
		display: inline-block;
		margin-left: 5.5em;
	}
	.ham{
		visibility: hidden;
	}
	

	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.container :nth-child(2){
		grid-column: 2/3;
	} 
	.container :nth-child(3){
		grid-column: 1/3;
	} 
	.container :nth-child(6){
		grid-column: 1/3;
	}	 
	.container :nth-child(7){
		grid-column: 1/3;
	} 
	#weather{
		margin-left: 35%;
	}
	#reams{
		margin-left: 35%;
	}
	#baer{
		margin-left: 35%;
	}

}

@media (min-width: 1008px) {
	.container{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.container :nth-child(2){
		grid-column: 2/3;
	}
	.container :nth-child(1){
		grid-column: 1/2;
	}
	.container :nth-child(3){
		grid-column: 3/4;
	}
	.container :nth-child(5){
		grid-column: 2/3;
		grid-row: 2/4;
	}
	.container :nth-child(6){
		grid-column: 3/4;
		grid-row: 2/4;
	}
	.container :nth-child(7){
		grid-column: 1/4;
		margin-bottom: 10px;
	}
	.container :nth-child(4){
		grid-column: 1/2;
		grid-row: 2/4;
	}

	.navigation{
		margin-left: 12%;
	}
	
	#art{
		max-width: 200px;
	}
	#weather{
		max-width: 200px;
	}
	#tank{
		max-width: 200px;
	}
	#reams{
		max-width: 200px;
	}

	.container{
		
	}

}